<ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Select Vehicle</ion-label>
      </ion-list-header>
        <ion-item lines="none" *ngFor="let vehicle of myVehicles">
            <ion-label>{{vehicle.name}}</ion-label>
            <ion-radio (ionSelect)="personalVehicle(vehicle)" slot="end"
                       value="{{vehicle.name}}"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ion-list>
