<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Check Out</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" [(ngModel)]="passengerData.firstName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" [(ngModel)]="passengerData.lastName"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item-divider>
            <ion-label>
                <h6 style="color: blue; margin: 0; font-size: 12px">From</h6>
                <p style="margin: 5px; font-size: 19px; font-weight: bold">
                    {{ticketDetails.startLocation.townOrMunicipality}},
                    {{ticketDetails.startLocation.country.name}} {{ticketDetails.startLocation.country.code}}
                </p>
            </ion-label>
        </ion-item-divider>
        <ion-item-divider>
            <ion-label>
                <h6 style="color: blue; margin: 0; font-size: 12px">To</h6>
                <p style="margin: 5px; font-size: 19px; font-weight: bold">
                    {{ticketDetails.destinationLocation.townOrMunicipality}},
                    {{ticketDetails.destinationLocation.country.name}} {{ticketDetails.destinationLocation.country.code}}
                </p>
            </ion-label>
        </ion-item-divider>
        <ion-item-divider>
            <ion-label>
                <h6 style="color: blue; margin: 0; font-size: 12px">Start departure date</h6>
                <p style="margin: 5px; font-size: 19px; font-weight: bold">
                    {{selectedDeparture.startLocationDate | date: 'EEEE, dd.MM.yyyy'}}
                </p>
            </ion-label>
        </ion-item-divider>
        <ion-item-divider>
            <ion-label>
                <h6 style="color: blue; margin: 0; font-size: 12px">Start departure hour</h6>
                <p style="margin: 5px; font-size: 19px; font-weight: bold">
                    {{selectedDeparture.startLocationHour.departureTime}}
                </p>
            </ion-label>
        </ion-item-divider>
        <div *ngIf="selectedDeparture != undefined && ticketType === 'returnTicket'">
            <ion-item-divider>
                <ion-label>
                    <h6 style="color: blue; margin: 0; font-size: 12px">Return departure date</h6>
                    <p style="margin: 5px; font-size: 19px; font-weight: bold">
                        {{selectedDeparture.returnLocationDate | date: 'EEEE, dd.MM.yyyy'}}
                    </p>
                </ion-label>
            </ion-item-divider>
            <ion-item-divider>
                <ion-label>
                    <h6 style="color: blue; margin: 0; font-size: 12px">Return departure hour</h6>
                    <p style="margin: 5px; font-size: 19px; font-weight: bold">
                        {{selectedDeparture.returnLocationHour.departureTime}}
                    </p>
                </ion-label>
            </ion-item-divider>
        </div>
    </ion-list>
    <ion-list padding>
        <div style="border: 1px solid dimgray">
            <div style="padding: 10px">
                <p *ngIf="ticketType === 'oneWayTicket'">1 x One way ticket:
                    <span style="color: green; float: right"> {{ticketDetails.oneWayPrice}}.00 {{currency}}</span></p>

                <p *ngIf="ticketType === 'returnTicket'">1 x Return ticket:
                    <span style="color: green; float: right"> {{ticketDetails.returnTicketPrice}}.00 {{currency}}</span>
                </p>
            </div>

            <ion-item-divider></ion-item-divider>

            <div style="padding: 8px">
                <h4>Total price: <span style="color: green; float: right"> {{totalPrice}}.00 {{currency}}</span></h4>
            </div>
            <div style="padding: 20px">
                <ion-button expand="block" (click)="confirmAndPayTicket()">Confirm and pay</ion-button>
            </div>
        </div>
    </ion-list>
</ion-content>
