<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <span *ngIf="typeOfUser === 'PRIVATE_USER'">{{MyPurchasedTicketsPrivateUserEnum[selectedFilter]}}</span>
            <span *ngIf="typeOfUser === 'BUSINESS_USER'">{{MyPurchasedTicketsBusinessUserEnum[selectedFilter]}}</span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button style="font-size: 15px" (click)="selectFilter($event)">
                <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-spinner *ngIf="myTickets === undefined"></app-spinner>
    <div *ngIf="myTickets !== undefined">
        <ion-list *ngFor="let myTicket of myTickets; let i=index">
            <app-purchased-ticket-card
                    [ticket]="myTicket"
                    (ticketClickEvent)="ticketDetails($event)"></app-purchased-ticket-card>
        </ion-list>

        <div *ngIf="myTickets.length === 0">
            <div align="center" style="padding-top: 15%">
                <img style="background: transparent" width="100" height="100" src="../../../assets/bus-ticket.png">
                <h5 style="width: 70%; text-align: center">No tickets at
                    <span *ngIf="typeOfUser === 'PRIVATE_USER'">{{MyPurchasedTicketsPrivateUserEnum[selectedFilter]}}</span>
                    <span *ngIf="typeOfUser === 'BUSINESS_USER'">{{MyPurchasedTicketsBusinessUserEnum[selectedFilter]}}</span>
                </h5>
            </div>
        </div>
    </div>
</ion-content>
