<ion-list>
    <ion-radio-group>
        <ion-item lines="none" *ngFor="let item of popoverItem">
            <ion-label>{{item.viewValue}}</ion-label>
            <ion-radio (ionSelect)="radioChecked(item)" slot="end" checked="{{item.status}}"
                       value="{{item.value}}"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ion-list>
