<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Enter Payment Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form name="f" [formGroup]="f">
        <ion-item>
            <ion-input type="tel" maxlength="16" placeholder="Card number" formControlName="cardNumber"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="tel" maxlength="2" placeholder="MM" formControlName="expireMonth"></ion-input>
            <ion-input type="tel" maxlength="2" placeholder="YY" formControlName="expireYear"></ion-input>
            <ion-input type="tel" maxlength="3" placeholder="CVC" formControlName="cvc"></ion-input>
        </ion-item>
    </form>

    <ion-list style="width: 100%">
        <div style="width: 50%; display: inline-block;">
            <ion-button expand="block" fill="clear" margin="2px" (click)="goBack()">Back</ion-button>
        </div>
        <div style="width: 50%; display: inline-block;">
            <ion-button expand="block" color="primary" margin="2px"
                        [disabled]="this.f.controls['cardNumber'].value === ''
                        && this.f.controls['expireMonth'].value === ''
                        && this.f.controls['expireYear'].value === ''
                        && this.f.controls['cvc'].value === '' "
                        (click)="processPayment()">Next
            </ion-button>
        </div>
    </ion-list>
</ion-content>
