<form name="f" [formGroup]="f">
    <ion-list>
        <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select interface="popover" placeholder="Genders" formControlName="gender">
                <ion-select-option *ngFor="let gender of genders" [value]="gender.viewValue">
                    {{gender.viewValue}}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Date of birth</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" placeholder="Select Date" formControlName="date_of_birth"
                          [min]="minDate | date: 'yyyy-dd-MM'" [max]="maxDate | date: 'yyyy-dd-MM'"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-button expand="block" color="medium" margin="30px" (click)="register()">Sing Up</ion-button>
    </ion-list>
</form>
