<ion-list>
    <ion-item-divider>
        <ion-label>
            <h6 style="color: blue; margin: 0; font-size: 12px">Company Name</h6>
            <p style="margin: 5px; font-size: 19px; font-weight: bold">
                {{businessProfileData.companyName}}</p>
        </ion-label>
    </ion-item-divider>
    <ion-item-divider>
        <ion-label>
            <h6 style="color: blue; margin: 0; font-size: 12px">Company No</h6>
            <p style="margin: 5px; font-size: 19px; font-weight: bold">
                {{businessProfileData.companyNo}}</p>
        </ion-label>
    </ion-item-divider>
    <ion-item-divider>
        <ion-label>
            <h6 style="color: blue; margin: 0; font-size: 12px">Phone number</h6>
            <p style="margin: 5px; font-size: 19px; font-weight: bold">
                {{businessProfileData.companyPhoneNumber | decodePhoneNumber}}</p>
        </ion-label>
    </ion-item-divider>
    <ion-item-divider>
        <ion-label>
            <h6 style="color: blue; margin: 0; font-size: 12px">Country</h6>
            <p style="margin: 5px; font-size: 19px; font-weight: bold">
                {{businessProfileData.country.name}}, {{businessProfileData.country.code}}</p>
        </ion-label>
    </ion-item-divider>
    <ion-item-divider>
        <ion-label>
            <h6 style="color: blue; margin: 0; font-size: 12px">Email</h6>
            <p style="margin: 5px; font-size: 19px; font-weight: bold">
                {{businessProfileData.email}}</p>
        </ion-label>
    </ion-item-divider>
</ion-list>
