<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Profile Info</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-private-user-profile-card *ngIf="profileData !== undefined && typeOfUser === 'PRIVATE_USER'"
                                   [privateUserProfileData]="profileData"></app-private-user-profile-card>
    <app-business-profile-card *ngIf="profileData !== undefined && typeOfUser === 'BUSINESS_USER'"
                               [businessProfileData]="profileData"></app-business-profile-card>
</ion-content>
