<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Browse Tickets</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-browse-destination-card *ngIf="availableDestinations != undefined"
                                 [destinations]="availableDestinations"
                                 (browseTickets)="browseTickets($event)"></app-browse-destination-card>
    <div align="center" *ngIf="loadingSpinner">
        <ion-spinner name="lines"></ion-spinner>
    </div>

    <div *ngIf="availableTickets !== undefined">
        <ion-list *ngFor="let ticket of availableTickets; let i=index">
            <app-ticket-card [ticketData]="ticket"
                             (ticketClickEvent)="viewTicketDetails($event)"></app-ticket-card>
        </ion-list>

        <div *ngIf="availableTickets.length === 0">
            <div align="center">
                <img style="background: transparent" width="100" height="100" src="../../../assets/bus-ticket.png">
                <h5 style="width: 70%; text-align: center">No available tickets for this destination</h5>
            </div>
        </div>
    </div>
</ion-content>
