.text-inside-align-right-grid {
  position: absolute;
  right: 5px;
}

.wrapper {
  width: 405px;
  overflow: hidden; /* will contain if #first is longer than #second */
}

.first {
  width: 200px;
  float: left; /* add this */
}

.second {
  width: 200px;
  overflow: hidden; /* if you don't want #second to wrap below #first */
  text-align: right;
  padding-top: 2rem
}

table, th {
  border: 1px solid black;
}

.dialog-ticket-town-label {
  font-size: 14px;
  font-weight: bolder;
}

.dialog-ticket-values {
  border: 1px solid black;
}

.dialog-ticket-price {
  font-size: larger;
  font-weight: bolder;
  color: green;
}

.dialog-ticket-buy-button {
  width: 100px;
}
