<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ticketData.startLocation.townOrMunicipality}}
            <ion-icon *ngIf="ticketData.oneWayTicket === true && ticketData.returnTicket === false"
                      name="arrow-forward"></ion-icon>
            <ion-icon *ngIf="ticketData.oneWayTicket === true && ticketData.returnTicket === true"
                      name="swap"></ion-icon>
            {{ticketData.destinationLocation.townOrMunicipality}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="margin: 30px">
        <ion-button *ngIf="typeOfUser === 'PRIVATE_USER'" expand="block" (click)="purchaseTicket()">Purchase ticket
        </ion-button>
    </div>
    <ion-list style="margin-top: -20px">
        <ion-item-divider>
            <ion-label>
                <h6 style="color: blue; margin: 0; font-size: 12px">One way ticket price</h6>
                <p style="margin: 5px; font-size: 19px; font-weight: bold; color: #0ec254">{{ticketData.oneWayPrice}}
                    {{currency}}</p>
            </ion-label>
        </ion-item-divider>
        <ion-item-divider>
            <ion-label>
                <h6 style="color: blue; margin: 0; font-size: 12px">Return ticket price</h6>
                <p style="margin: 5px; font-size: 19px; font-weight: bold; color: #0ec254">{{ticketData.returnTicketPrice}}
                    {{currency}}</p>
            </ion-label>
        </ion-item-divider>
    </ion-list>

    <div *ngIf="ticketData.typeOfRelation === 'weekly'">
        <ion-list *ngFor="let item of ticketData.relationData.weeklyRelation.selectedWeek">
            <table width="300rem" align="center">
                <thead>
                <tr>
                    <th colspan="2">
              <span *ngIf="ticketData.relationData.weeklyRelation.repeatEveryWeek === true">
                {{item.startDate | date: 'EEEE '}}</span>

                        <span *ngIf="ticketData.relationData.weeklyRelation.repeatEveryWeek === false">
                {{item.startDate | date: ' EEEE, dd.MM.yyyy'}}</span>

                        <span *ngIf="item.endDate !== ''"><span
                                style="font-weight: bold; font-style: italic"> until </span>

                <span *ngIf="ticketData.relationData.weeklyRelation.repeatEveryWeek === true">
                {{item.endDate | date: ' EEEE'}}</span>

                <span *ngIf="ticketData.relationData.weeklyRelation.repeatEveryWeek === false">
                {{item.endDate | date: ' EEEE, dd.MM.yyyy'}}</span>

                </span></th>
                </tr>
                </thead>
                <tbody>
                <tr align="center" class="dialog-ticket-town-label">
                    <td class="dialog-ticket-values">From {{ticketData.startLocation.townOrMunicipality}}</td>
                    <td class="dialog-ticket-values" *ngIf="ticketData.returnTicket === true">
                        From {{ticketData.destinationLocation.townOrMunicipality}}</td>
                </tr>
                <tr align="center">
                    <td>
                        <div class="dialog-ticket-values" *ngFor="let item of item.departureHoursStart">
                            {{item.departureTime}}
                        </div>
                    </td>
                    <td *ngIf="ticketData.returnTicket === true">
                        <div class="dialog-ticket-values" *ngFor="let item of item.departureHoursDestination">
                            {{item.departureTime}}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </ion-list>
    </div>

    <div *ngIf="ticketData.typeOfRelation === 'select_days'">
        <ion-list *ngFor="let item of ticketData.relationData.dailyRelation">
            <table width="300rem" align="center">
                <thead>
                <tr>
                    <th colspan="2">{{item.dayDate | date: 'EEEE, dd.MM.yyyy'}}</th>
                </tr>
                </thead>
                <tbody>
                <tr align="center" class="dialog-ticket-town-label">
                    <td class="dialog-ticket-values">From {{ticketData.startLocation.townOrMunicipality}}</td>
                    <td class="dialog-ticket-values" *ngIf="ticketData.returnTicket === true">
                        From {{ticketData.destinationLocation.townOrMunicipality}}</td>
                </tr>
                <tr align="center">
                    <td>
                        <div class="dialog-ticket-values" *ngFor="let item of item.departureHoursStart">
                            {{item.departureTime}}
                        </div>
                    </td>
                    <td *ngIf="ticketData.returnTicket === true">
                        <div class="dialog-ticket-values" *ngFor="let item of item.departureHoursDestination">
                            {{item.departureTime}}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </ion-list>
    </div>

    <div *ngIf="ticketData.typeOfRelation === 'every_day'">
        <table width="300rem" align="center">
            <tbody>
            <tr align="center" class="dialog-ticket-town-label">
                <td class="dialog-ticket-values">From {{ticketData.startLocation.townOrMunicipality}}</td>

                <td class="dialog-ticket-values" *ngIf="ticketData.returnTicket === true">
                    From {{ticketData.destinationLocation.townOrMunicipality}}</td>
            </tr>
            <tr align="center">
                <td>
                    <div class="dialog-ticket-values"
                         *ngFor="let item of ticketData.relationData.everyDayRelation.departureHoursStart"
                         [hidden]="item.departureTime === ''">
                        {{item.departureTime}}
                    </div>
                </td>
                <td>
                    <div class="dialog-ticket-values"
                         *ngFor="let item of ticketData.relationData.everyDayRelation.departureHoursDestination"
                         [hidden]="item.departureTime === ''">
                        {{item.departureTime}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <ion-list>
        <ion-item-divider *ngIf="ticketData.typeOfRelation === 'weekly'">
            <ion-label>
                <h6 style="color: blue; margin: 0; font-size: 12px">Every week relation</h6>
                <p style="margin: 5px; font-size: 19px; font-weight: bold">
                    <span *ngIf="ticketData.relationData.weeklyRelation.repeatEveryWeek === false">No</span>
                    <span *ngIf="ticketData.relationData.weeklyRelation.repeatEveryWeek === true">Yes</span>
                </p>
            </ion-label>
        </ion-item-divider>
        <ion-item-divider>
            <ion-label>
                <h6 style="color: blue; margin: 0; font-size: 12px">Company Name</h6>
                <p style="margin: 5px; font-size: 19px; font-weight: bold">{{ticketData.companyName}}</p>
            </ion-label>
        </ion-item-divider>
        <ion-item-divider>
            <ion-label>
                <h6 style="color: blue; margin: 0; font-size: 12px">Return ticket</h6>
                <p style="margin: 5px; font-size: 19px; font-weight: bold">
                    <span *ngIf="ticketData.returnTicket === false">No</span>
                    <span *ngIf="ticketData.returnTicket === true">Yes</span>
                </p>
            </ion-label>
        </ion-item-divider>
        <ion-item-divider>
            <ion-label>
                <h6 style="color: blue; margin: 0; font-size: 12px">Type of transport vehicle</h6>
                <p style="margin: 5px; font-size: 19px; font-weight: bold">{{ticketData.typeOfTransportationVehicle}}</p>
            </ion-label>
        </ion-item-divider>
        <ion-item-divider>
            <ion-label>
                <h6 style="color: blue; margin: 0; font-size: 12px">Available tickets</h6>
                <p style="margin: 5px; font-size: 19px; font-weight: bold">{{ticketData.availableSeats}}</p>
            </ion-label>
        </ion-item-divider>
        <ion-item-divider>
            <ion-label>
                <h6 style="color: blue; margin: 0; font-size: 12px">Type of relation</h6>
                <p style="margin: 5px; font-size: 19px; font-weight: bold">
                    <span *ngIf="ticketData.typeOfRelation === 'weekly'">Weekly</span>
                    <span *ngIf="ticketData.typeOfRelation === 'select_days'">Select days</span>
                    <span *ngIf="ticketData.typeOfRelation === 'every_day'">Every day</span>
                </p>
            </ion-label>
        </ion-item-divider>
    </ion-list>
</ion-content>
