<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Sing Up Passenger Account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <app-register-private-user (registerAccountEvent)="signUp($event)"></app-register-private-user>
    </ion-list>
</ion-content>
