<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="goBack === 'false'"></ion-menu-button>
      <ion-back-button *ngIf="goBack === undefined"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ticketData.startLocation.townOrMunicipality}}
      to {{ticketData.destinationLocation.townOrMunicipality}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 50px; text-align: center;">
    <ngx-barcode [bc-value]="ticketData.purchasedTicketNo" [bc-display-value]="true" [bc-height]="30"></ngx-barcode>
  </div>

  <ion-list>
    <ion-item-divider>
      <ion-label>
        <h6 style="color: blue; margin: 0; font-size: 12px">Passenger Name</h6>
        <p style="margin: 5px; font-size: 19px; font-weight: bold">
          {{ticketData.passenger.firstName}} {{ticketData.passenger.lastName}}</p>
      </ion-label>
    </ion-item-divider>
    <ion-item-divider>
      <ion-label>
        <h6 style="color: blue; margin: 0; font-size: 12px">Ticket type</h6>
        <p style="margin: 5px; font-size: 19px; font-weight: bold">
          <span *ngIf="ticketData.ticketType === 'oneWayTicket'">One way</span>
          <span *ngIf="ticketData.ticketType === 'returnTicket'">Return</span>
        </p>
      </ion-label>
    </ion-item-divider>
    <ion-item-divider>
      <ion-label>
        <h6 style="color: blue; margin: 0; font-size: 12px">Price</h6>
        <p style="margin: 5px; font-size: 19px; font-weight: bold">
          <span>{{ticketData.price}} {{currency}}</span>
        </p>
      </ion-label>
    </ion-item-divider>
    <ion-item-divider>
      <ion-label>
        <h6 style="color: blue; margin: 0; font-size: 12px">From</h6>
        <p style="margin: 5px; font-size: 19px; font-weight: bold">
          {{ticketData.startLocation.townOrMunicipality}},
          {{ticketData.startLocation.country.name}} {{ticketData.startLocation.country.code}}
        </p>
      </ion-label>
    </ion-item-divider>
    <ion-item-divider>
      <ion-label>
        <h6 style="color: blue; margin: 0; font-size: 12px">On</h6>
        <p style="margin: 5px; font-size: 19px; font-weight: bold">
          {{ticketData.selectedDeparture.startLocationDate | date: 'EEEE, dd.MM.yyyy'}}
        </p>
      </ion-label>
    </ion-item-divider>
    <ion-item-divider>
      <ion-label>
        <h6 style="color: blue; margin: 0; font-size: 12px">At</h6>
        <p style="margin: 5px; font-size: 19px; font-weight: bold">
          {{ticketData.selectedDeparture.startLocationHour.departureTime}}
        </p>
      </ion-label>
    </ion-item-divider>
    <ion-item-divider>
      <ion-label>
        <h6 style="color: blue; margin: 0; font-size: 12px">To</h6>
        <p style="margin: 5px; font-size: 19px; font-weight: bold">
          {{ticketData.destinationLocation.townOrMunicipality}},
          {{ticketData.destinationLocation.country.name}} {{ticketData.destinationLocation.country.code}}
        </p>
      </ion-label>
    </ion-item-divider>
    <div *ngIf="ticketData.ticketType === 'returnTicket'">
      <ion-item-divider>
        <ion-label>
          <h6 style="color: blue; margin: 0; font-size: 12px">From</h6>
          <p style="margin: 5px; font-size: 19px; font-weight: bold">
            {{ticketData.destinationLocation.townOrMunicipality}},
            {{ticketData.destinationLocation.country.name}} {{ticketData.destinationLocation.country.code}}
          </p>
        </ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label>
          <h6 style="color: blue; margin: 0; font-size: 12px">On</h6>
          <p style="margin: 5px; font-size: 19px; font-weight: bold">
            {{ticketData.selectedDeparture.returnLocationDate | date: 'EEEE, dd.MM.yyyy'}}
          </p>
        </ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label>
          <h6 style="color: blue; margin: 0; font-size: 12px">At</h6>
          <p style="margin: 5px; font-size: 19px; font-weight: bold">
            {{ticketData.selectedDeparture.returnLocationHour.departureTime}}
          </p>
        </ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label>
          <h6 style="color: blue; margin: 0; font-size: 12px">To</h6>
          <p style="margin: 5px; font-size: 19px; font-weight: bold">
            {{ticketData.startLocation.townOrMunicipality}},
            {{ticketData.startLocation.country.name}} {{ticketData.startLocation.country.code}}
          </p>
        </ion-label>
      </ion-item-divider>
    </div>
  </ion-list>

</ion-content>
