<ion-card (click)="openTicket(ticketData)">
    <ion-card-header>
        <ion-card-title style="text-align: center">
            {{ticketData.startLocation.townOrMunicipality}} {{ticketData.startLocation.country.name}}
            <div style="margin-top: 7px">
                <ion-icon *ngIf="ticketData.oneWayTicket === true && ticketData.returnTicket === false"
                          name="arrow-down"></ion-icon>
                <ion-icon style="transform: rotate(90deg);"
                          *ngIf="ticketData.oneWayTicket === true && ticketData.returnTicket === true"
                          name="swap"></ion-icon>
            </div>
            {{ticketData.destinationLocation.townOrMunicipality}} {{ticketData.destinationLocation.country.name}}
        </ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <p><b>One way price: </b>
            <span style="color: #0ec254">{{ticketData.oneWayPrice}} {{currency}}</span></p>
        <p><b>Return price: </b>
            <span style="color: #0ec254">{{ticketData.returnTicketPrice}} {{currency}}</span></p>
        <p><b>Available tickets: </b>
            <span>{{ticketData.availableSeats}}</span></p>
        <p><b>Type of relation: </b>
            <span *ngIf="ticketData.typeOfRelation === 'weekly'">Weekly</span>
            <span *ngIf="ticketData.typeOfRelation === 'select_days'">Select days</span>
            <span *ngIf="ticketData.typeOfRelation === 'every_day'">Every day</span></p>
        <p><b>Type of transport vehicle: </b>
            <span>{{ticketData.typeOfTransportationVehicle}}</span></p>
    </ion-card-content>
</ion-card>
