<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Tracker</ion-title>
        <ion-buttons slot="end">
            <ion-button style="font-size: 20px" (click)="trackPersonalVehicles($event)"
                        *ngIf="typeOfUser === 'BUSINESS_USER'">
                <ion-icon name="car"></ion-icon>
            </ion-button>
            <ion-button style="font-size: 20px" (click)="trackPublicVehicles($event)">
                <ion-icon name="bus"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <agm-map [zoom]="mapZoom" [latitude]="mapLatitude" [longitude]="mapLongitude">
        <agm-marker *ngIf="showMarker"
                    [latitude]="latitude" [longitude]="longitude" [iconUrl]="'../../../assets/bus-pin-icon.png'">
            <agm-info-window>
                <strong>{{pinTitle}}</strong>
            </agm-info-window>
        </agm-marker>
    </agm-map>

</ion-content>
