<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Sign in</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="margin: 50px" align="center">
        <img width="100" height="100" src="../../../assets/icon/logo.png">
    </div>
    <div style="margin-bottom: 20px">
        <form name="f" [formGroup]="f" (keyup.enter)="signIn()">
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" formControlName="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
        </form>
    </div>

    <div style="padding-top: 30px">
        <ion-button expand="block" margin="30px" (click)="signIn()">Sign in</ion-button>
        <ion-button expand="block" color="medium" margin="30px" [routerLink]="'/register-account'">Create account
        </ion-button>
    </div>
</ion-content>
