<ion-list>
    <ion-item>
        <ion-label>From</ion-label>
        <ion-select interface="popover" placeholder="Select start location" [(ngModel)]="startLocation">
            <ion-select-option *ngFor="let destination of destinations.startLocations" [value]="destination">
                {{destination.townOrMunicipality}}, {{destination.country.name}} {{destination.country.code}}
            </ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Destination</ion-label>
        <ion-select interface="popover" placeholder="Select Destination" [(ngModel)]="destinationLocation">
            <ion-select-option *ngFor="let destination of destinations.endLocations" [value]="destination">
                {{destination.townOrMunicipality}}, {{destination.country.name}} {{destination.country.code}}
            </ion-select-option>
        </ion-select>
    </ion-item>
    <div style="margin: 30px">
        <ion-button expand="block" (click)="searchDestinations()">Search</ion-button>
    </div>
</ion-list>
