<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Final Thesis</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false">
                        <div *ngFor="let p of appPages">
                            <ion-item [routerDirection]="p.direction" [routerLink]="[p.url]" *ngIf="p.visible">
                                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                                <ion-label>
                                    {{p.title}}
                                </ion-label>
                            </ion-item>
                        </div>
                        <ion-item *ngIf="authService.loggedIn()" [routerDirection]="'forward'"
                                  [routerLink]="'/my-purchased-tickets'">
                            <ion-icon slot="start" [name]="'pricetags'"></ion-icon>
                            <ion-label>
                                <span *ngIf="typeOfUser === 'PRIVATE_USER'">Purchased Tickets</span>
                                <span *ngIf="typeOfUser === 'BUSINESS_USER'">Sold Tickets</span>
                            </ion-label>
                        </ion-item>
                        <ion-item *ngIf="authService.loggedIn() && typeOfUser === 'BUSINESS_USER'"
                                  [routerDirection]="'forward'"
                                  [routerLink]="'/my-added-tickets'">
                            <ion-icon slot="start" [name]="'pricetag'"></ion-icon>
                            <ion-label>
                                My Tickets
                            </ion-label>
                        </ion-item>
                        <ion-item *ngIf="authService.loggedIn()" [routerDirection]="'forward'"
                                  [routerLink]="'/profile'">
                            <ion-icon slot="start" [name]="'contact'"></ion-icon>
                            <ion-label>
                                Profile
                            </ion-label>
                        </ion-item>
                        <ion-item *ngIf="!authService.loggedIn()" [routerLink]="'/register-account'">
                            <ion-icon slot="start" [name]="'person-add'"></ion-icon>
                            <ion-label>
                                Sign Up
                            </ion-label>
                        </ion-item>
                        <ion-item *ngIf="!authService.loggedIn()" [routerLink]="'/login'">
                            <ion-icon slot="start" [name]="'log-in'"></ion-icon>
                            <ion-label>
                                Sign In
                            </ion-label>
                        </ion-item>
                        <ion-item *ngIf="authService.loggedIn()" (click)="logOut()">
                            <ion-icon slot="start" [name]="'log-out'"></ion-icon>
                            <ion-label>
                                Sign Out
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
