<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ticketDetails.startLocation.townOrMunicipality}}
            <ion-icon *ngIf="ticketDetails.oneWayTicket === true && ticketDetails.returnTicket === false"
                      name="arrow-forward"></ion-icon>
            <ion-icon *ngIf="ticketDetails.oneWayTicket === true && ticketDetails.returnTicket === true"
                      name="swap"></ion-icon>
            {{ticketDetails.destinationLocation.townOrMunicipality}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Choose Ticket</ion-label>
        <ion-select interface="popover" placeholder="Ticket Types" [(ngModel)]="selectedTicketType"
                    (ngModelChange)="selectTypeOfTicket(selectedTicketType)">
            <ion-select-option value="oneWayTicket">
                One way ticket: <span style="color: green">{{ticketDetails.oneWayPrice}} {{currency}}</span>
            </ion-select-option>
            <ion-select-option *ngIf="ticketDetails.returnTicket === true" value="returnTicket">
                Return ticket: <span style="color: green">{{ticketDetails.returnTicketPrice}} {{currency}}</span>
            </ion-select-option>
        </ion-select>
    </ion-item>

    <div *ngIf="selectedTicketType !== undefined">

        <ion-item>
            <ion-label>Departure date:</ion-label>
            <ion-input readonly [id]="'startLocationDate'" [(ngModel)]="startLocationDate"
                       [liIonic4Datepicker]="datePickerObj"
                       (ionChange)="selectedDate($event, startLocationDate)">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="availableStartDepartureHours !== undefined">
            <ion-label>Time</ion-label>
            <ion-select interface="popover" [(ngModel)]="startLocationHour">
                <ion-select-option *ngFor="let startDeparture of availableStartDepartureHours" [value]="startDeparture">
                    {{startDeparture.departureTime}}
                </ion-select-option>
            </ion-select>
        </ion-item>
    </div>

    <div *ngIf="selectedTicketType === 'returnTicket'">
        <ion-item>
            <ion-label>Return date:</ion-label>
            <ion-input readonly [id]="'returnLocationDate'" [(ngModel)]="returnLocationDate"
                       [liIonic4Datepicker]="datePickerObj"
                       (ionChange)="selectedDate($event, returnLocationDate)">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="availableReturnDepartureHours !== undefined">
            <ion-label>Time</ion-label>
            <ion-select interface="popover" [(ngModel)]="returnLocationHour">
                <ion-select-option *ngFor="let returnDeparture of availableReturnDepartureHours"
                                   [value]="returnDeparture">
                    {{returnDeparture.departureTime}}
                </ion-select-option>
            </ion-select>
        </ion-item>
    </div>

    <ion-list>
        <ion-button expand="block" color="primary" margin="2px" [disabled]="startLocationHour === undefined"
                    (click)="goToCheckout()">Next
        </ion-button>
    </ion-list>
</ion-content>
