<ion-list>
    <ion-item-divider>
        <ion-label>
            <h6 style="color: blue; margin: 0; font-size: 12px">Name</h6>
            <p style="margin: 5px; font-size: 19px; font-weight: bold">
                {{privateUserProfileData.firstName}} {{privateUserProfileData.lastName}}</p>
        </ion-label>
    </ion-item-divider>
    <ion-item-divider>
        <ion-label>
            <h6 style="color: blue; margin: 0; font-size: 12px">Date of birth</h6>
            <p style="margin: 5px; font-size: 19px; font-weight: bold">
                {{privateUserProfileData.date_of_birth | date : 'dd.MM.y'}}</p>
        </ion-label>
    </ion-item-divider>
    <ion-item-divider>
        <ion-label>
            <h6 style="color: blue; margin: 0; font-size: 12px">Gender</h6>
            <p style="margin: 5px; font-size: 19px; font-weight: bold">
                {{privateUserProfileData.gender}}</p>
        </ion-label>
    </ion-item-divider>
    <ion-item-divider>
        <ion-label>
            <h6 style="color: blue; margin: 0; font-size: 12px">Email</h6>
            <p style="margin: 5px; font-size: 19px; font-weight: bold">
                {{privateUserProfileData.email}}</p>
        </ion-label>
    </ion-item-divider>
</ion-list>
