<ion-card (click)="cardClick(ticket)">
    <ion-card-header>
        <ion-card-title style="text-align: center">
            {{ticket.startLocation.townOrMunicipality}} {{ticket.startLocation.country.name}}
            <div style="margin-top: 7px">
                <ion-icon *ngIf="ticket.ticketType === 'oneWayTicket'" name="arrow-down"></ion-icon>
                <ion-icon style="transform: rotate(90deg);" *ngIf="ticket.ticketType === 'returnTicket'"
                          name="swap"></ion-icon>
            </div>
            {{ticket.destinationLocation.townOrMunicipality}} {{ticket.destinationLocation.country.name}}
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p><b>Price: </b>
            <span style="color: #0ec254">{{ticket.price}} {{currency}}</span></p>
        <p><b>Passenger Name: </b>
            <span>{{ticket.passenger.firstName}} {{ticket.passenger.lastName}}</span></p>
        <p><b>Start departure: </b>
            <span>{{ticket.selectedDeparture.startLocationDate | date: 'EEEE, dd.MM.yyyy'}}; at
                {{ticket.selectedDeparture.startLocationHour.departureTime}}</span></p>
        <div *ngIf="ticket.ticketType === 'returnTicket'">
            <p><b>Return departure: </b>
                <span>{{ticket.selectedDeparture.returnLocationDate | date: 'EEEE, dd.MM.yyyy'}}; at
                    {{ticket.selectedDeparture.returnLocationHour.departureTime}}</span></p>
        </div>
    </ion-card-content>
</ion-card>
